.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem;
  /* overflow: hidden; */
  width: 100vw;
  /* background-color: rgba(255, 255, 255, 0.1); */
  background-color: #85868919;
  z-index: 999;
  /* background: radial-gradient(circle, #85868919 0%, #2e2f3000 75%) no-repeat
    bottom center; */
  /* background-size: 100% 200%; */
}

.mainOptionHeader {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}

.search,
.options {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.search:hover,
.options:hover {
  color: white;
}

.search > svg,
.options > svg {
  width: 1.5rem;
  height: 1.5rem;
}

@keyframes fadein {
  from {
    opacity: 0;
    transform: translateY(-50px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Search Main */

.searchMain {
  position: fixed;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  pointer-events: none;
  opacity: 0;
  /* transition: all 0.5s ease-in-out; */
  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(5px);
  z-index: 999;
}

.searchOpen {
  pointer-events: all;
  opacity: 1;
}

.searhBar {
  width: 75vw;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: text;
  transition: all 0.3s ease-in-out;
  border: 2px solid rgba(255, 255, 255, 0.8);
  padding: 0.5rem;
  border-radius: 1rem;
  position: relative;
}

.searchResult {
  position: absolute;
  top: calc(100% + 0.5rem);
  left: 0;
  width: 100%;
  background: rgba(0, 0, 0, 0.05);
  backdrop-filter: blur(15px);
  backdrop-filter: brightness(0.75);
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 1rem;
  padding: 0.5rem;
  overflow: hidden;
}

.searchResultItem {
  display: flex;
  flex-direction: column;
  z-index: 999;
  cursor: default;
  max-height: calc(50vh - 7.5rem);
  overflow-y: auto;
  transition: all 0.5s ease-in-out;
  padding-right: 0.5rem;
  &::-webkit-scrollbar {
    width: 0.5rem;
    height: 0.5rem;
    background: rgba(0, 0, 0, 0.1);
    border-radius: 0.25rem;
  }

  &::-webkit-scrollbar-thumb {
    background: rgba(255, 255, 255, 0.2);
    border-radius: 0.25rem;
  }
}

.searchResultItem > a {
  color: rgba(255, 255, 255, 0.8);
  text-decoration: none;
  font-size: 1.2rem;
  padding: 1rem;
  border-radius: 0.8rem;
  transition: all 0.3s ease-in-out;
}

.searchResultItem > a:hover {
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(5px);
  transition: all 0.3s ease-in-out;
}

.searhBar > input {
  background-color: transparent;
  border: none;
  outline: none;
  font-size: 1.5rem;
  width: 100%;
  color: rgba(255, 255, 255, 0.8);
  padding: 0.5rem;
}

.searhBar > input::placeholder {
  color: rgba(255, 255, 255, 0.8);
}

.searhBar > svg {
  position: absolute;
  right: 1rem;
  width: 1.5rem;
  height: 1.5rem;
  cursor: pointer;
}

.searchClose {
  position: absolute;
  top: 2rem;
  right: 2rem;
  cursor: pointer;
}

.searchClose > svg {
  width: 2.5rem;
  height: 2.5rem;
}

.searchOpen .searchClose,
.searchOpen .searhBar {
  animation: fadein 1s;
  animation-fill-mode: forwards;
}

/* Search Main End */

/* Options Main */

.headerOptions {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  transition: all 0.5s ease-in-out;
  pointer-events: none;
  z-index: 9999999;
}

.optionsOpened {
  transition: all 0.5s ease-in-out;
  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: brightness(0.9);
  pointer-events: all;
}

.optionsMain {
  position: fixed;
  width: 25vw;
  height: 100vh;
  top: 0;
  right: 0;
  transform: translateX(100%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  gap: 5rem;
  opacity: 1;
  background: #222;
  transition: all 0.5s;
  z-index: 999;
}

.optionsOpened .optionsMain {
  transform: translateX(0%);
  transition: all 0.5s;
  right: -12.5vw;
}

/* Options Main End */

.option {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

.optionImage {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  overflow: hidden;
}

.optionDetails {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.4rem;
}

.optionName {
  font-size: 1.5rem;
  font-weight: 400;
}

.optionDescription {
  font-size: 0.9rem;
  font-weight: 400;
  opacity: 0.7;
}

.option2 {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.optionMainTitle {
  font-size: 1.5rem;
  font-weight: 400;
}

.optionMainLinks {
  display: flex;
  flex-direction: column;
}

.optionMainLinks > a {
  padding: 1rem 0.5rem;
  cursor: pointer;
  font-size: 0.9rem;
  font-weight: 400;
  transition: all 0.3s ease-in-out;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.optionMainLinks > a:last-child {
  border-bottom: none;
}

.optionMainLinks > a:hover {
  padding: 1rem 1.5rem;
  background-color: rgba(0, 0, 0, 0.5);
  transition: all 0.3s ease-in-out;
  border-color: transparent;
  border-radius: 0.8rem;
}

/* Extra Bar */

.extra {
  position: absolute;
  top: 5rem;
  left: -5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  font-size: 0.9rem;
  transform: rotate(-90deg);
  opacity: 0;
  pointer-events: none;
  transition: all 0.5s ease-in-out;
  cursor: pointer;
}

.extra > svg {
  width: 1.5rem;
  height: 1.5rem;
}

.extraOpen {
  opacity: 1;
  pointer-events: all;
  transition: all 0.5s ease-in-out;
}

/* Extra Bar End */

.mainHeader {
  position: relative;
  height: 100%;
}

.logo {
  margin: 0rem 3rem;
}

.logo img {
  /* max-width: 150px; */
  width: 4rem;
  height: 4rem;
}

.container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
  gap: 2rem;
  height: calc(100% + 4rem);
}

.container > ul {
  width: 30vw;
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
  align-items: center;
  height: 100%;
}

.container > ul:first-child {
  justify-content: flex-end;
}

.container > ul:last-child {
  justify-content: flex-start;
}

.container > ul > li {
  position: relative;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container > ul > li > a {
  color: rgb(255, 255, 255, 0.7);
  text-decoration: none;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
  font-size: 0.9rem;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0rem 1.5rem;
  position: relative;
}

.container > ul > li > a:hover {
  color: rgb(255, 255, 255);
  transition: all 0.3s ease-in-out;
}

.selectedLink {
  color: rgb(255, 255, 255) !important;
}

.selectedLink::before {
  content: "";
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  bottom: 1rem;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background-color: rgb(255, 255, 255);
}

.hover_container {
  position: absolute;
  top: 5rem;
  /* top: 1rem; */
  left: 0;
  /* right: 0; */
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: all 0.3s ease-in-out;
  pointer-events: none;
  z-index: 999999;
}

.container > ul > li > a:hover + .hover_container,
.hover_container:hover {
  opacity: 1;
  pointer-events: all;
}

.optionMainLinks > a:hover {
  padding: 1rem 1.5rem;
  background-color: rgba(0, 0, 0, 0.5);
  transition: all 0.3s ease-in-out;
  border-color: transparent;
  border-radius: 0.8rem;
}

.hover_links {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0.5rem;
  border-radius: 0.5rem;
  background-color: #000;
  border: 1px solid #222;
}

.hover_links > div > a {
  display: flex;
  width: 12rem;
  max-width: 80vw;
  padding: 1rem 1rem;
  font-size: 0.9rem;
  font-weight: 400;
  transition: padding 0.3s ease-in-out;
  cursor: pointer;
  text-decoration: none;
  color: #fff;
  border-bottom: 1px solid #333;
}

.hover_links > div:last-child > a {
  border-bottom: none;
}

.hover_links > div > a:hover {
  border-bottom: none;
  background-color: #333;
  padding-left: 1.5rem;
  padding-right: 0.5rem;
  border-radius: 0.5rem;
  transition: padding 0.3s ease-in-out;
}

/* Hamburger Menu */

.burger_drawer,
.burger_main {
  display: none;
}

.hamburger {
  cursor: pointer;
}

.hamburger input {
  display: none;
}

.hamburger svg {
  /* The size of the SVG defines the overall size */
  height: 3em;
  /* Define the transition for transforming the SVG */
  transition: transform 600ms cubic-bezier(0.4, 0, 0.2, 1);
}

.line {
  fill: none;
  stroke: white;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: 3;
  /* Define the transition for transforming the Stroke */
  transition: stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1),
    stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1);
}

.lineTopBottom {
  stroke-dasharray: 12 63;
}

.hamburger input:checked + svg {
  transform: rotate(-45deg);
}

.hamburger input:checked + svg .lineTopBottom {
  stroke-dasharray: 20 300;
  stroke-dashoffset: -32.42;
}

.burger_main {
  position: fixed;
  display: none; /* onClick of hamburger */
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  font-size: 1.5rem;
  width: 100vw;
  /* border: 1px solid #222; */
  top: 70px;
  left: 100%;
  /* right: 0; */
  height: calc(100vh - 70px);
  background-color: #000;
  transition: all 0.3s ease-in-out;
  z-index: 9999;
  /* pointer-events: none; */
}

.burger_option {
  color: white;
  padding: 1.5rem 2rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.burger_option_back {
  background-color: #111;
  color: white;
  padding: 1.5rem 2rem;
  width: 100%;
  display: flex;
  align-items: center;
  gap: 1.5rem;
}

.burger_option_small {
  color: white;
  padding: 1rem 2rem;
  font-size: 1rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.option_selected {
  background-color: #111;
}

.option_selected_small {
  background: linear-gradient(90deg, #171717 50%, #000 100%);
}

.comeout_animation {
  left: 0;
  transition: all 0.3s ease-in-out;
}
.comeout_animation1 {
  left: 0;
  transition: all 0.3s ease-in-out;
  z-index: 99999;
}

.smallOption {
  display: none;
}

.cursorOption {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  left: 4rem;
  top: 0.9rem;
  scale: 0.5;
}

@media (max-width: 75em) {
  .optionsMain {
    width: 50vw;
    gap: 4rem;
  }
  .optionsOpened .optionsMain {
    right: -25vw;
  }
  .option {
    gap: 1rem;
  }
  .optionDetails {
    gap: 0.2rem;
  }
  .optionName {
    font-size: 1.3rem;
  }
  .optionDescription {
    font-size: 0.85rem;
  }
  .option2 {
    gap: 1rem;
  }
  .optionMainTitle {
    font-size: 1.3rem;
  }
  .optionMainLinks > a {
    font-size: 0.8rem;
  }
  .header {
    padding: 1.5rem 1rem;
  }
  .container {
    align-items: center;
  }
  .burger_drawer {
    display: block;
  }
  .options {
    position: absolute;
    right: 5rem;
  }
  .burger_main {
    display: flex;
  }
  .container > ul {
    display: none;
  }
  .cursorOption {
    left: 3rem;
    top: 0.65rem;
  }
}

@media (max-width: 48em) {
  .optionsMain {
    width: calc(100vw - 3.4rem);
    padding: 1.5rem;
  }
  .header {
    padding: 1.5rem 0.8rem;
  }
  .options {
    display: none;
  }
  .smallOption {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    z-index: 999;
    padding: 0.5rem 0.15rem;
    border: 1px solid #edeff220;
    border-radius: 0.5rem;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-right: none;
    cursor: pointer;
    box-shadow: 0 4px 32px #2c2c2c40;
    background: radial-gradient(circle, #edeff223 0%, #edeff223 100%) no-repeat
      right 55%;
    background-size: 200% 200%;
    backdrop-filter: saturate(150%) blur(12px);
  }
  .smallOption > svg {
    width: 1.5rem;
    height: 1.5rem;
    color: #edeff2a3;
  }
  .cursorOption {
    display: none;
  }
}
