.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100dvh;
}

.loader {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100dvh;
  width: 100vw;
  background-color: black;
}

.loader > img {
  animation: infinite 1s ease-in-out;
  animation-name: loader;
}

@keyframes loader {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (max-width: 48em) {
  .main {
    min-height: 100dvh;
    /* height: auto; */
  }
}
