.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem;
  overflow: hidden;
  width: 100vw;
  background-color: rgba(255, 255, 255, 0.1);
}

.copyright {
  font-size: 1rem;
}

.socials {
  display: flex;
  align-items: center;
  gap: 2.5rem;
}

.socialLinks {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.socialLinks:hover {
  transform: scale(1.2);
  transition: all 0.2s ease-in-out;
}

.socialLinks > svg {
  width: 1.2rem;
  height: 1.2rem;
}
