.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem;
  overflow: hidden;
  width: 100vw;
  /* background-color: rgba(255, 255, 255, 0.1); */
  background: radial-gradient(circle, #85868919 0%, #2e2f3000 75%) no-repeat
    bottom center;
  background-size: 100% 200%;
  color: rgba(255, 255, 255, 0.8);
  /* background: #19222c; */
  box-shadow: 0 4px 32px #2c2c2c40;
}

.copyright {
  font-size: 1rem;
}

.socials {
  display: flex;
  align-items: center;
  gap: 2.5rem;
}

.socialLinks {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.socialLinks:hover {
  transform: scale(1.2);
  transition: all 0.2s ease-in-out;
}

.socialLinks > svg {
  width: 1.2rem;
  height: 1.2rem;
}

@media (max-width: 75em) {
  .footer {
    padding: 1.5rem 1rem;
  }
}

@media (max-width: 48em) {
  .footer {
    padding: 1.5rem 0.8rem;
    flex-direction: column-reverse;
    gap: 1.2rem;
  }
}
