.main {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  height: 100%;
  /* background: rgb(23, 23, 23, 0.7); */
  background: rgb(0, 0, 0, 0.7);
  width: 100%;
}

.main::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 2px;
  height: 2px;
  border-radius: 50%;
  /* opacity: 0.7; */
  /* Make this box-shadow react the entire page */
  /* box-shadow: 140px 20px #fff, 425px 20px #fff, 70px 120px #fff, 20px 130px #fff,
    110px 80px #fff, 280px 80px #fff, 250px 350px #fff, 280px 230px #fff,
    220px 190px #fff, 450px 100px #fff, 380px 80px #fff, 520px 50px #fff; */
  box-shadow: 14vw 15dvh #fff, 42.5vw 20dvh #fff, 79vw 20dvh #fff, 85vw 80dvh #fff,
    11vw 20dvh #fff, 95vw 15dvh #fff, 50vw 40dvh #fff, 70vw 50dvh #fff,
    22vw 30dvh #fff, 90vw 40dvh #fff, 80vw 60dvh #fff, 90vw 25dvh #fff,
    60vw 55dvh #fff, 30vw 60dvh #fff, 50vw 70dvh #fff, 95vw 75dvh #fff;
  z-index: -1;
  transition: 1.5s ease;
  animation: 1s glowing-stars linear alternate infinite;
  animation-delay: 0.4s;
}
.main::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 2px;
  height: 2px;
  border-radius: 50%;
  /* opacity: 0.7; */
  /* box-shadow: 490px 330px #fff, 420px 300px #fff, 320px 280px #fff,
    380px 350px #fff, 546px 170px #fff, 420px 180px #fff, 370px 150px #fff,
    200px 250px #fff, 80px 20px #fff, 190px 50px #fff, 270px 20px #fff,
    120px 230px #fff, 350px -1px #fff, 150px 369px #fff; */
  box-shadow: 49vw 20dvh #fff, 42vw 25dvh #fff, 32vw 30dvh #fff, 38vw 40dvh #fff,
    16vw 80dvh #fff, 42vw 35dvh #fff, 65vw 20dvh #fff, 20vw 50dvh #fff,
    8vw 30dvh #fff, 9vw 75dvh #fff, 27vw 40dvh #fff, 12vw 45dvh #fff, 35vw 50dvh #fff,
    50vw 60dvh #fff, 60vw 70dvh #fff, 85vw 50dvh #fff, 90vw 60dvh #fff,
    85vw 15dvh #fff;
  z-index: -1;
  transition: 2s ease;
  animation: 1s glowing-stars linear alternate infinite;
  animation-delay: 0.8s;
}

.shootingStar1 {
  content: "";
  position: absolute;
  top: 20%;
  left: 105%;
  rotate: -45deg;
  width: 5em;
  height: 1px;
  background: linear-gradient(90deg, #ffffff, transparent);
  animation: 14s shootingStar ease-in-out infinite;
  transition: 1s ease;
  animation-delay: 1s;
}

.shootingStar2 {
  content: "";
  position: absolute;
  top: 10%;
  left: 55%;
  rotate: -45deg;
  width: 5em;
  height: 1px;
  background: linear-gradient(90deg, #ffffff, transparent);
  animation: 11s shootingStar ease-in-out infinite;
  transition: 1s ease;
  animation-delay: 1s;
}

.shootingStar3 {
  content: "";
  position: absolute;
  top: 10%;
  left: 20%;
  rotate: -45deg;
  width: 5em;
  height: 1px;
  background: linear-gradient(90deg, #ffffff, transparent);
  animation: 15s shootingStar ease-in-out infinite;
  transition: 1s ease;
  animation-delay: 1s;
}

.planetOne,
.planetTwo {
  position: absolute;
}

.planetOne {
  top: 10dvh;
  left: 15vw;
  opacity: 0.6;
}

.planetTwo {
  top: 45dvh;
  left: 80vw;
  z-index: 99;
  opacity: 0.4;
}

.bookContent:hover .main::before,
.bookContent:hover .main::after {
  filter: blur(3px);
}

@keyframes shootingStar {
  0% {
    transform: translateX(0) translateY(0);
    opacity: 1;
  }
  50% {
    transform: translateX(-55em) translateY(0);
    opacity: 1;
  }
  70% {
    transform: translateX(-70em) translateY(0);
    opacity: 0;
  }
  100% {
    transform: translateX(0) translateY(0);
    opacity: 0;
  }
}

@keyframes glowing-stars {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

.title {
  font-size: 2rem;
  margin-top: 2rem;
}

.bookContent {
  display: flex;
  flex-direction: column;
  /* align-items: center;
  justify-content: center; */
  padding: 1rem;
  border-radius: 5px;
  white-space: pre-wrap;
  font-size: 2rem;
  width: 100%;
  height: 100%;
  position: relative;
}

.loaderHolder {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.imagesAll {
  position: relative;
  z-index: 999;
}

.imagesAll > img {
  /* height: 40rem; */
  height: calc(100dvh - 6rem);
}

.bookPages {
  width: calc(100% + 10rem);
  margin-left: -5rem;
}

.images {
  position: absolute;
  top: 1.5rem;
  left: 50%;
  transform: translate(-50%);
  display: flex;
  align-items: center;
  justify-content: center;
  perspective: 1000px; /* Adding perspective to create depth for the flip effect */
  /* gap: ; */
  /* padding: 2rem; */
}

.images > img {
  filter: brightness(0.8);
}

.images > img,
.flip img,
.flipL img {
  /* height: 37rem; */
  height: calc(100dvh - 9rem);
  cursor: pointer; /* Change cursor to pointer when hovering over image */
}

.bookTitleMain {
  position: absolute;
  top: 45%;
  left: 54%;
  transform: translate(-50%, -50%) rotateZ(-0.5deg);
  font-family: "Cinzel Decorative", serif; /* Elegant serif font */
  font-size: 2.5rem; /* Adjust size based on image width */
  color: #442714;
  text-shadow: 0 1px 0 #000, /* Inner shadow for depth */ 0 2px 0 #000,
    0 3px 1px rgba(0, 0, 0, 0.5),
    /* Light outer shadow */ 0 0 5px rgba(0, 0, 0, 0.2); /* Glow effect for realism */
  letter-spacing: 2px;
  font-weight: bold;
  opacity: 0.8;
  filter: brightness(0.8);
  cursor: default;
  pointer-events: none;
  white-space: nowrap;
}

.flip,
.flipL {
  position: absolute;
  top: 0;
  bottom: 0;
  /* transition: all 0s; */
  transform-style: preserve-3d;
  pointer-events: none;
  z-index: 9999;
}

.flipContainer {
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden; /* Optional: Ensures the image doesn't overflow */
  border-radius: 5px;
}

.flipL {
  left: 0;
  right: 50%;
  background-image: url("/book/page_temp.png"); /* Replace with your background image */
}

.flippedLeft {
  transform: rotateY(180deg); /* Flip the image 180 degrees */
  /* right: 0; */
  left: 50%;
  transition: all 0.6s ease; /* Smooth transition for flip */
}

.flip {
  right: 0;
  left: 50%;
  background-image: url("/book/page_temp_2.png"); /* Replace with your background image */
}

.flippedRight {
  transform: rotateY(-180deg);
  /* left: 0; */
  right: 50%;
  transition: all 0.6s ease;
}

.backButton,
.bookmarkButton,
.backPage,
.forwardPage,
.fastForward,
.zoomIn,
.zoomOut,
.qualityButton {
  position: absolute;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.backButton > svg,
.bookmarkButton > svg,
.backPage > svg,
.forwardPage > svg,
.zoomIn > svg,
.zoomOut > svg {
  width: 1.5rem;
  height: 1.5rem;
}

.backButton,
.bookmarkButton,
.zoomIn,
.zoomOut,
.qualityButton {
  top: 2rem;
  left: 2rem;
  z-index: 9999;
  padding: 1rem;
  border: 1px solid rgba(255, 255, 255, 0.15);
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.02);
}

.goTobBookmarkButton {
  top: 6.5rem;
}

.bookmarkButton {
  left: unset;
  right: 2rem;
}

.qualityButton {
  left: unset;
  right: 2rem;
  top: 6.5rem;
  font-size: 1.2rem;
  width: calc(3.5rem + 1.6px);
  height: calc(3.5rem + 1.6px);
}

.bookmarkActiveQuality {
  top: 11rem;
}

.backButton:hover,
.bookmarkButton:hover,
.backPage:hover,
.forwardPage:hover,
.zoomIn:hover,
.zoomOut:hover,
.qualityButton:hover {
  background-color: rgba(255, 255, 255, 0.05);
  transition: all 0.3s ease;
}

.backPage,
.forwardPage {
  padding: 1rem;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.02);
  display: flex;
  align-items: center;
  justify-content: center;
  top: 50%;
  transform: translateY(-50%);
}

.backPage {
  left: 2rem;
}

.forwardPage {
  right: 2rem;
}

.fastForward {
  bottom: 2rem;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  z-index: 9999;
}

.fastForwardInput {
  cursor: text;
  background-color: rgba(255, 255, 255, 0.02);
  border: 1px solid rgba(255, 255, 255, 0.15);
  border-radius: 0.5rem;
  padding: 0.5rem 1rem;
  color: white;
  font-size: 1.2rem;
}

.fastForwardInput::-webkit-outer-spin-button,
.fastForwardInput::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.fastForwardInput:focus {
  outline: none;
}

.fastForwardButton {
  background-color: rgba(255, 255, 255, 0.02);
  border: 1px solid rgba(255, 255, 255, 0.15);
  border-radius: 0.5rem;
  padding: 0.6rem;
  color: white;
  font-size: 1.2rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.fastForwardButton:hover {
  background-color: rgba(255, 255, 255, 0.05);
  transition: all 0.3s ease;
}

.bookHolderMain {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
}

.zoom {
  display: none;
}

.error {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  color: white;
  font-size: 1.5rem;
  z-index: 9999;
}

.errorMain {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  background-color: rgba(255, 255, 255, 0.02);
  border: 1px solid rgba(255, 255, 255, 0.15);
  border-radius: 0.5rem;
  padding: 2rem;
}

.errorMain > svg {
  width: 3rem;
  height: 3rem;
  color: white;
}

.progressBar {
  position: fixed;
  top: 25%;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: flex-end;
  justify-content: center;
  width: 30vw;
  height: 100%;
}

.progressMB {
  width: max-content;
  font-size: 1rem;
}

.snackbarContainer {
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  z-index: 9999;
  font-size: 0.85rem;
}

.animateFadeInOut {
  background-color: rgba(255, 255, 255, 0.15);
  color: rgba(255, 255, 255, 0.9);
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  opacity: 0;
  animation: fadeIn 1s ease-out, fadeOut 2s ease-in 1s forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
    transform: translateY(0);
  }
  to {
    opacity: 0;
    transform: translateY(20px);
  }
}

@media (max-height: 34.68em) {
  .bookTitleMain {
    font-size: 2rem;
    top: 44%;
  }
}

@media (max-height: 27.5em) {
  .bookTitleMain {
    font-size: 1.5rem;
    top: 42%;
  }
}

@media (max-width: 62.5em) {
  .backButton > svg,
  .bookmarkButton > svg,
  .backPage > svg,
  .forwardPage > svg,
  .zoomIn > svg,
  .zoomOut > svg {
    width: 1rem;
    height: 1rem;
  }

  .backButton,
  .bookmarkButton,
  .zoomIn,
  .zoomOut,
  .qualityButton {
    top: 1rem;
    left: 1rem;
    padding: 0.5rem;
  }

  .goTobBookmarkButton {
    top: 3.75rem;
  }

  .bookmarkButton,
  .qualityButton {
    left: unset;
    right: 1rem;
  }

  .qualityButton {
    top: 3.75rem;
    font-size: 0.8rem;
    width: calc(2rem + 1.6px);
    height: calc(2rem + 1.6px);
  }

  .bookmarkActiveQuality {
    top: 6.5rem;
  }

  .backPage,
  .forwardPage {
    padding: 0.5rem;
  }

  .backPage {
    left: 1rem;
  }

  .forwardPage {
    right: 1rem;
  }

  .errorMain {
    max-width: 90vw;
  }

  .progressBar {
    width: 40vw;
  }
}

@media (max-width: 56em) and (min-height: 27.5em) {
  .bookPages {
    margin-left: 0;
    width: calc(100vw - 8rem);
  }

  .imagesAll > img {
    height: calc((100vw - 8rem) / 2 * 1.29);
  }

  .images > img,
  .flip img,
  .flipL img {
    height: calc((100vw - 11rem) / 2 * 1.29);
  }

  .bookHolderMain {
    align-items: center;
  }

  .images {
    top: 50%;
    transform: translate(-50%, -50%);
  }

  .bookTitleMain {
    font-size: 4vw;
    top: 48%;
  }

  .planetOne {
    top: -10dvh;
    left: 0vw;
  }

  .planetTwo {
    display: none;
  }

  .progressBar {
    width: 50vw;
  }

  .progressMB {
    font-size: 0.8rem;
  }
}

@media (max-width: 25em) {
  .zoom {
    display: flex;
    align-items: center;
    position: absolute;
    top: 1rem;
    left: 50%;
    transform: translateX(-50%);
    gap: 1rem;
    z-index: 9999999;
  }
  .zoomIn,
  .zoomOut {
    position: unset;
  }
  .bookTitleMain {
    font-size: 0.75rem;
  }
  .backPage,
  .forwardPage {
    top: unset;
    bottom: 2.2rem;
    background-color: rgba(255, 255, 255, 0.05);
    transform: translateX(-50%);
  }
  .backPage {
    left: 2rem;
  }
  .forwardPage {
    right: 0rem;
  }
  /* .imagesAll > img {
    height: calc((100vw - 8rem) / 2 * 1.29);
  } */

  .images > img,
  .flip img,
  .flipL img {
    height: calc((100vw - 9rem) / 2 * 1.29);
  }

  .progressMB {
    font-size: 0.65rem;
  }
}
