.container {
  display: flex;
  align-items: center;
  gap: 2rem;
  width: 100%;
  height: 100%;
  padding: 2rem;
  position: relative;
  overflow: auto;
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}

.topHero {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  min-width: 50vw;
  height: 100%;
}

.quote {
  border: 1px solid rgba(255, 255, 255, 0.25);
  padding: 1rem;
  border-radius: 0.7rem;
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 0.8rem;
}

.quoteTitle {
  font-size: 1.2rem;
  font-weight: 500;
}

.quoteMain {
  font-size: 0.9rem;
  font-weight: 300;
}

.quoteOther {
  display: flex;
  align-items: center;
  gap: 2rem;
  width: 100%;
  height: 100%;
}

.quoteSmall {
  border: 1px solid rgba(255, 255, 255, 0.15);
  padding: 1rem;
  border-radius: 2rem;
  width: 100%;
  height: 100%;
}

.mostVisited {
  display: flex;
  align-items: center;
  gap: 2rem;
  height: 100%;
}

.mostVisitedSingle {
  border: 1px solid rgba(255, 255, 255, 0.1);
  padding: 1rem;
  border-radius: 2rem;
  width: 20rem;
  height: 100%;
}
