.container {
  display: flex;
  align-items: center;
  gap: 2rem;
  width: 100%;
  height: 100%;
  padding: 2rem;
  position: relative;
  overflow: auto;
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
  transition: all 0.3s ease;
  /* scroll-behavior: smooth; */
}

.topHero {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  min-width: 50vw;
  height: 100%;
}

.quote {
  padding: 1rem;
  border-radius: 0.7rem;
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 0.8rem;
  background-color: #111;
  border: 1px solid rgb(255, 255, 255, 0.1);
}

.quoteTitle {
  font-size: 1.2rem;
  font-weight: 500;
}

.quoteMain {
  font-size: 0.9rem;
  font-weight: 300;
}

.quoteBy {
  font-size: 0.9rem;
  font-weight: bold;
  align-self: flex-end;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.quoteBy > a {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: rgba(255, 255, 255, 0.9);
}

.quoteOther {
  display: flex;
  align-items: center;
  gap: 2rem;
  width: 100%;
  height: 100%;
}

.quoteSmall {
  padding: 1rem;
  border-radius: 2rem;
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
  opacity: 1;
  transition: opacity 0.3s ease;
}

.quoteSmall:hover {
  opacity: 1;
}

.quoteOther:hover .quoteSmall:not(:hover) {
  opacity: 0.7;
}

/* When not hovering any child, all children have opacity 1 */
.quoteOther:not(:hover) .quoteSmall {
  opacity: 1;
}

.quoteImage > img,
.cubeImage > img {
  transition: all 0.3s ease-in-out;
}

.mostVisited {
  display: flex;
  align-items: center;
  gap: 2rem;
  height: 100%;
}

.mostVisitedSingle {
  padding: 1rem;
  border-radius: 2rem;
  width: 20rem;
  height: 100%;
  position: relative;
  overflow: hidden;
  opacity: 1;
  transition: opacity 0.3s ease;
}

.mostVisitedSingle:hover {
  opacity: 1;
}

.mostVisited:hover .mostVisitedSingle:not(:hover) {
  opacity: 0.7;
}

/* When not hovering any child, all children have opacity 1 */
.mostVisited:not(:hover) .mostVisitedSingle {
  opacity: 1;
}

.smallDetails {
  position: absolute;
  bottom: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: 2rem;
  backdrop-filter: blur(10px) brightness(0.6);
  border-top-right-radius: 2rem;
}

.smallTitle {
  font-size: 1.3rem;
  font-weight: 500;
}

.smallDetail {
  font-size: 0.8rem;
  font-weight: 400;
  opacity: 0.65;
}

.quoteSmall,
.mostVisitedSingle {
  cursor: pointer;
}

.quoteSmall:hover .quoteImage > img,
.mostVisitedSingle:hover .cubeImage > img {
  transform: scale(1.1);
  transition: all 0.3s ease-in-out;
}

@media (max-width: 75em) {
  .topHero {
    gap: 1rem;
    min-width: 75vw;
  }
  .quoteOther {
    gap: 1rem;
  }
}

@media (max-width: 48em) {
  .topHero {
    min-width: calc(100vw - 4rem);
  }
  .quoteOther .smallDetails {
    padding: 1.5rem;
  }
  .quoteOther .smallTitle {
    font-size: 1rem;
  }
  .quoteOther .smallDetail {
    font-size: 0.6rem;
  }
}

@media (max-width: 24em) {
  .quoteOther > a:last-child {
    display: none;
  }
}
